body {
  background: #555;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Fjalla One';
}

header {
  background: rgba(0,0,0,0.75);
  margin-bottom: 40px;
  color: white;
}

h1, h2 {
  font-family: Bangers;
  color: #fff;
  position: relative;
  z-index: 100;
  text-shadow: 2px 2px 0px #000;
}

.authrow {
  background-color: #225599;
  padding-bottom: 30px;
  margin-bottom: 10px;
}
#login-section, #signup-section {
  line-height: 1.0;
}

#logsign-buttons {
  text-align: right;
}

#logsign-buttons button {
  margin: 1em;
  padding: .5em 1em;
  border-radius: 5px;
  width: 80px;
}

.dropdown-pane {
  background-color: #e7e7ee;
  text-align: left;
}

.submit-dd {
  background-color: #2199e8;
  color: white;
  border: none;
  min-width: 50%;
}

.menu {
  /*position: relative;*/
  z-index: 200;
  font-family: Bangers;
  font-size: 22px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.flex-video {
  background: #000;
  box-shadow: 0px 0px 150px 50px rgba(0,0,0,0.75);
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-video i {
  position: absolute;
  display: inline-block;
  top: 45%;
}

.player-controls {
  height: 50px;
  background: hsla(0, 0%, 0%, 0.5);
  position: relative;
  padding: 20px;
}

#playHead {
  position: absolute;
  z-index: 10;
  height: 50px;
  width: 10px;
  margin-left: -5px;
  cursor: pointer;
  left: 0%;
  top: -22px;
  background-color: hsl(12,98%,49%);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='2.5' height='14.6' viewBox='0 0 2.5 14.6'><style>.st0{opacity:0.15;}</style><path class='st0' d='M0 12.1h2.5v2.5H0zM0 6.1h2.5v2.5H0zM0 0h2.5v2.5H0z'/></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  border-right: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

#playHead:hover {
  background-color: hsl(12,98%,40%);
}

.timeline {
  width: 100%;
  height: 5px;
  background: #000;
  position: relative;
  top: calc(50% - 3px);
}

.moment {
  position: absolute;
  top: -22px;
  height: 50px;
  z-index: 5;
  background: rgba(255, 209, 0, 0.5);
  cursor: pointer;
}

.likeWindow {
  position: absolute;
  top: calc(100% + 10px);
  left: calc(-50px + 50%);
  background: white;
  padding: 10px 20px;
  width: 100px;
  box-sizing: border-box;
  display: none;
  font-size: 24px;
  font-family: 'Fjalla One';
  text-align: center;
  opacity: 0;
  transition: all .3s;
  color: #0a0a0a;
}

.likeWindow:hover {
  background: #1583cc;
  color: white;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

.likeWindow:hover:before {
  border-color: transparent transparent #1583cc transparent;
}

.likeWindow.active {
  opacity: 1;
  display: block;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: bounceInDown;
}

.likeWindow:before {
    content: '';
    display: inline-block;
    height: 0px;
    width: 0px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent white transparent;
    text-align: center;
    position: absolute;
    top: -20px;
    left: calc(50% - 10px);
    transition: all .3s;
  }

.player-info {
  margin-top: 20px;
}

#stats {
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
}

.player-buttons {
  text-align: right;
}

.player-buttons .button {
  margin-left: 10px;
}

.player-buttons .button i {
  display: inline-block;
  margin-right: 10px;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  40% {
    opacity: 1;
    transform: translate3d(0, 15px, 0);
  }

  55% {
    transform: translate3d(0, -10px, 0);
  }

  70% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}